html, body{
    height: 100%;
}
body{
    overflow: hidden;
    margin: 0;
    background-color: #ececec;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-size: 6%;
    opacity: .3;
}
.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.card {
    width: 600px;
    height: 400px;
    position: relative;
    perspective: 700;
    cursor: pointer;

    background-image: url(img/back.svg);
    background-repeat: no-repeat;
    background-size: auto calc(100% + 35px);
    background-position: center top;

    &:hover {
        .face { transition: all 0.3s ease-out; }
        .left { transform: rotateY(-35deg); }
        .right { transform: rotateY(35deg); }
    }
    &:active {
        .face:after {
            transition: .1s;
            opacity: 1;
        }
        .left {transform: rotateY(-165deg); }
        .right { transform: rotateY(+165deg); }
    }
}

.face {
    position: absolute;
    top: 0;
    width: calc(50% + 1px);
    height: calc(100% + 1px);
    backface-visibility: visible; 
    transition: all 0.5s ease-out;
    z-index: 2;
    background-image: url(img/front.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    &:after { 
        content:  '';
        display: block;
        width: calc(100% + 1px);
        height: calc(100% - 1px);
        background-image: url(img/back.svg);
        background-size: auto calc( 100% + 35px );
        opacity: 0;
        transition: .3s;
        transform: scaleX(-1);
        filter: FlipH;
    }
}
.left{
    left: 0;
    transform-origin: 0 0;
    &:after { 
        background-position: left -13px;
    }
}
.right{
    right: 0;
    transform-origin: right 0;
    background-position: right top;
    &:after { 
        background-position: 324px  top;
        //background-size: auto calc(100% + 2px);
    }
}
.back {
    background: #9dcc78;
    z-index: 1;

}