/* debut font face */
@import "../node_modules/sass-font-face/_font-face.scss";

$silhouetto: 'silhouetto';
@include font-face($silhouetto, 'font/silhouetto/', 'silhouetto', 'silhouetto');


/*
$raleway-regular: 'raleway-regular';
@include font-face($raleway-regular, 'font/raleway-regular/', 'raleway-regular', 'raleway-regular');

$raleway-bold: 'raleway-bold';
@include font-face($raleway-bold, 'font/raleway-bold/', 'raleway-bold', 'raleway-bold');
*/
/* fin font face */

html, body{
    height: 100%;
}
body{
    overflow: hidden;
    margin: 0;
    background-color: #ececec;
}
.bg{
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(img/bg.png);
    background-repeat: repeat;
    background-size: 6%;
    opacity: .3;
}
.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.card {
    width: 600px;
    height: 400px;
    position: relative;
    perspective: 700;
    cursor: pointer;

    background-image: url(img/back.svg);
    background-repeat: no-repeat;
    background-size: auto calc(100% + 35px);
    background-position: center top;

    &:hover {
        .face { transition: all 0.3s ease-out; }
        .left { transform: rotateY(-35deg); }
        .right { transform: rotateY(35deg); }
    }
    &:active {
        .face:after {
            transition: .1s;
            opacity: 1;
        }
        .left {transform: rotateY(-165deg); }
        .right { transform: rotateY(+165deg); }
    }
}
.face {
    position: absolute;
    top: 0;
    width: calc(50% + 1px);
    height: calc(100% + 1px);
    backface-visibility: visible; 
    transition: all 0.5s ease-out;
    z-index: 2;
    background-image: url(img/front.svg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    &:after { 
        content:  '';
        display: block;
        width: calc(100% + 1px);
        height: calc(100% - 1px);
        background-image: url(img/back.svg);
        background-size: auto calc( 100% + 35px );
        opacity: 0;
        transition: .3s;
        transform: scaleX(-1);
        filter: FlipH;
    }

}
.left{
    left: 0;
    transform-origin: 0 0;
    &:after { 
        background-position: left -13px;
    }
}
.right{
    right: 0;
    transform-origin: right 0;
    background-position: right top;
    &:after { 
        background-position: 324px  top;
        //background-size: auto calc(100% + 2px);
    }
}
.back {
    background: #9dcc78;
    z-index: 1;

}
@keyframes fadeP {
    0%{ opacity: 0; }
    1%{ opacity: 1; }
    20%{ opacity: 1; }
    21%{ opacity: 0; }
    100%{ opacity: 0; }
}
.texte{
    height: 100%;
    position: relative;
}
p{
    position: absolute;
    width: 100%;
    display: block;
    margin: 0;
    font-family: 'silhouetto';
    color: #FFF;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    font-size: 60px;
    text-align: center;
    top: 20%;
    opacity: 0;
    animation-name: fadeP;
    animation-iteration-count: infinite;
    animation-duration: 20s;
}
.fr{ 
    animation-delay: 1s;
}
.en{
    animation-delay: 7s;
}
.sp{
    animation-delay: 14s;
}