/* debut font face */
@import "../node_modules/sass-font-face/_font-face.scss";
$silhouetto: 'silhouetto';
@include font-face($silhouetto, 'font/silhouetto/', 'silhouetto', 'silhouetto');

html, body{
    height: 100%;
}
body{
    overflow: hidden;
    margin: 0;
    background-color: #12253e;
    position: relative;
}
@keyframes star{
    0% {
        top: 0;
        transform: rotate(360deg);
    }
    20% { left: 30%;}
    50% { left: 80%;}
    70% { opacity: 0;}
    80% { left: 30%;}
    100% { 
        top: 100vh;
        opacity: 0;
    }
}
.star-container{
    position: absolute;
    height: 100%;
    width: 30px;
    .container{
        position: relative;
    }
}
.star{
    position: absolute;
    top: -30px;
    left: 100%;
    width: 30px;
    height: 30px;
    background-image: url(img/star.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    //animation: star 10s ease-out infinite;
    animation-name: star;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
    animation-duration: 10s;

}
.un{
    left: 30px;
    .star {
        animation-delay: 0s;
    }
}
.deux{
    right: 30px;
    .star{
        animation-delay: 1s;
    } 
}
.trois{
    left: 200px;
    .star{
        animation-delay: 3s;
    }
}
.quatre{
    right: 200px;
    .star{
        animation-delay: 2s;
    }
}
.cards {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    margin: 0;
}
.card {
    width: 600px;
    height: 400px;

    position: relative;

    perspective: 700;
    cursor: pointer;

    box-shadow: 0px 0px 45px 10px rgba(255,255,255,.3);

    &:hover {
        .face { transition: all 0.3s ease-out; }
        .left { transform: rotateY(-35deg); }
        .right { transform: rotateY(35deg); }
    }
}
.face {
    position: absolute;
    top: 0;
    width: calc(50% + 1px);
    height: 100%;
    backface-visibility: visible; 
    transition: all 0.5s ease-out;
    background-image: url(img/front-min.jpg);
    background-repeat: no-repeat;
    background-size: auto 100%;
    &:after { 
        content:  '';
        display: block;
        width: calc(100% + 1px);
        height: 100% ;
        background-image: url(img/back-min.jpg);
        background-size: auto calc( 100% + 35px );
        opacity: 0;
        transition: .3s ease-out;
        transform: scaleX(-1);
        filter: FlipH;
    }
}
.left{
    left: 1px;
    transform-origin: 0 0;
    &:after { 
        background-position: left -14px;
    }
}
.right{
    right: 0;
    transform-origin: right 0;
    background-position: right top;
    &:after { 
        background-position: 324px  top;
    }
}
.active{
     &:hover {
        .face { transition: all 0.3s ease-out; }
        .left {transform: rotateY(-165deg); }
        .right { transform: rotateY(+165deg); }
    }
    .face{
        z-index: -1;
        box-shadow: 0px 0px 45px 10px rgba(255,255,255,.3);
        transition: .3s;
    }
    .face:after {
        position: relative;
        transition: .1s ease-out;
        opacity: 1;
    }
    .left {
        transform: rotateY(-165deg);
    }
    .right { 
        transform: rotateY(+165deg);
    }
}
@keyframes fadeP {
    0%{ opacity: 0; }
    1%{ opacity: 1; }
    20%{ opacity: 1; }
    21%{ opacity: 0; }
    100%{ opacity: 0; }
}
.texte{
    height: 100%;
    position: relative;

    background-image: url(img/back-min.jpg);
    background-repeat: no-repeat;
    background-size: auto calc(100% + 35px);
    background-position: center top;
}
p{
    position: absolute;
    width: 100%;
    display: block;
    margin: 0;
    font-family: 'silhouetto';
    color: #FFF;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 1);
    font-size: 60px;
    text-align: center;
    top: 20%;
    opacity: 0;
    animation-name: fadeP;
    animation-iteration-count: infinite;
    animation-duration: 19s;
}
.fr{ 
    animation-delay: 1s;
}
.en{
    animation-delay: 6s;
}
.sp{
    animation-delay: 11s;
}