/* debut font face */
@font-face {
  font-family: "silhouetto";
  src: url("font/silhouetto/silhouetto.eot");
  src: url("font/silhouetto/silhouetto.eot?#iefix") format("embedded-opentype"), url("font/silhouetto/silhouetto.woff") format("woff"), url("font/silhouetto/silhouetto.ttf") format("truetype"), url("font/silhouetto/silhouetto.svg#silhouetto") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  overflow: hidden;
  margin: 0;
  background-color: #f5f5f5;
  position: relative; }

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/bg.png);
  background-repeat: repeat;
  background-size: 200px;
  opacity: .3; }

@-webkit-keyframes dotAnim {
  0% {
    top: -10px;
    left: 193px; }
  2% {
    top: 200px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.93, 0.17); } }

@keyframes dotAnim {
  0% {
    top: -10px;
    left: 193px; }
  2% {
    top: 200px;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.93, 0.17); } }

.bg-dot1 {
  position: absolute;
  left: 193px;
  top: -10px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ec721f;
  -webkit-animation-name: dotAnim;
          animation-name: dotAnim;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 100s;
          animation-duration: 100s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }

@-webkit-keyframes fade {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fade {
  0% {
    opacity: 1; }
  99% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.arc1 {
  position: absolute;
  left: 100px;
  top: 0;
  width: 200px;
  height: 100%;
  background-image: url(img/bg-arc1.png);
  background-repeat: repeat-y; }

.cards {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0; }

.card {
  width: 600px;
  height: 400px;
  position: relative;
  -webkit-perspective: 700;
          perspective: 700;
  cursor: pointer;
  background-image: url(img/back.jpg);
  background-repeat: no-repeat;
  background-size: auto calc(100% + 35px);
  background-position: center top; }
  .card:hover .face {
    transition: all 0.3s ease-out; }
  .card:hover .left {
    -webkit-transform: rotateY(-35deg);
            transform: rotateY(-35deg); }
  .card:hover .right {
    -webkit-transform: rotateY(35deg);
            transform: rotateY(35deg); }
  .card:active .face:after {
    transition: .1s ease-out;
    opacity: 1; }
  .card:active .left {
    -webkit-transform: rotateY(-165deg);
            transform: rotateY(-165deg); }
  .card:active .right {
    -webkit-transform: rotateY(165deg);
            transform: rotateY(165deg); }

.face {
  position: absolute;
  top: 0;
  width: calc(50% + 1px);
  height: calc(100% + 1px);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transition: all 0.5s ease-out;
  z-index: 2;
  background-image: url(img/front.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%; }
  .face:after {
    content: '';
    display: block;
    width: calc(100% + 1px);
    height: calc(100% - 1px);
    background-image: url(img/back.jpg);
    background-size: auto calc( 100% + 35px);
    opacity: 0;
    transition: .5s ease-out;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH; }

.left {
  left: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0; }
  .left:after {
    background-position: left -13px; }

.right {
  right: 0;
  -webkit-transform-origin: right 0;
      -ms-transform-origin: right 0;
          transform-origin: right 0;
  background-position: right top; }
  .right:after {
    background-position: 324px  top; }

.back {
  background: #9dcc78;
  z-index: 1; }

@-webkit-keyframes fadeP {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fadeP {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.texte {
  height: 100%;
  position: relative; }

p {
  position: absolute;
  width: 100%;
  display: block;
  margin: 0;
  font-family: 'silhouetto';
  color: #FFF;
  text-shadow: 3px 3px 4px black;
  font-size: 60px;
  text-align: center;
  top: 20%;
  opacity: 0;
  -webkit-animation-name: fadeP;
          animation-name: fadeP;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s; }

.fr {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.en {
  -webkit-animation-delay: 6s;
          animation-delay: 6s; }

.sp {
  -webkit-animation-delay: 12s;
          animation-delay: 12s; }

.champ {
  -webkit-animation-delay: 18s;
          animation-delay: 18s; }
