/* debut font face */
@font-face {
  font-family: "silhouetto";
  src: url("font/silhouetto/silhouetto.eot");
  src: url("font/silhouetto/silhouetto.eot?#iefix") format("embedded-opentype"), url("font/silhouetto/silhouetto.woff") format("woff"), url("font/silhouetto/silhouetto.ttf") format("truetype"), url("font/silhouetto/silhouetto.svg#silhouetto") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
$raleway-regular: 'raleway-regular';
@include font-face($raleway-regular, 'font/raleway-regular/', 'raleway-regular', 'raleway-regular');

$raleway-bold: 'raleway-bold';
@include font-face($raleway-bold, 'font/raleway-bold/', 'raleway-bold', 'raleway-bold');
*/
/* fin font face */
html, body {
  height: 100%; }

body {
  overflow: hidden;
  margin: 0;
  background-color: #ececec; }

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(img/bg.png);
  background-repeat: repeat;
  background-size: 6%;
  opacity: .3; }

.cards {
  position: relative;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 0;
  margin: 0; }

.card {
  width: 600px;
  height: 400px;
  position: relative;
  -webkit-perspective: 700;
          perspective: 700;
  cursor: pointer;
  background-image: url(img/back.svg);
  background-repeat: no-repeat;
  background-size: auto calc(100% + 35px);
  background-position: center top; }
  .card:hover .face {
    transition: all 0.3s ease-out; }
  .card:hover .left {
    -webkit-transform: rotateY(-35deg);
            transform: rotateY(-35deg); }
  .card:hover .right {
    -webkit-transform: rotateY(35deg);
            transform: rotateY(35deg); }
  .card:active .face:after {
    transition: .1s;
    opacity: 1; }
  .card:active .left {
    -webkit-transform: rotateY(-165deg);
            transform: rotateY(-165deg); }
  .card:active .right {
    -webkit-transform: rotateY(165deg);
            transform: rotateY(165deg); }

.face {
  position: absolute;
  top: 0;
  width: calc(50% + 1px);
  height: calc(100% + 1px);
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  transition: all 0.5s ease-out;
  z-index: 2;
  background-image: url(img/front.svg);
  background-repeat: no-repeat;
  background-size: auto 100%; }
  .face:after {
    content: '';
    display: block;
    width: calc(100% + 1px);
    height: calc(100% - 1px);
    background-image: url(img/back.svg);
    background-size: auto calc( 100% + 35px);
    opacity: 0;
    transition: .3s;
    -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
            transform: scaleX(-1);
    -webkit-filter: FlipH;
            filter: FlipH; }

@-webkit-keyframes openGateLeft {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  20% {
    -webkit-transform: rotateY(-25deg);
            transform: rotateY(-25deg); }
  30% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  38% {
    -webkit-transform: rotateY(-25deg);
            transform: rotateY(-25deg); }
  46% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }

@keyframes openGateLeft {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  20% {
    -webkit-transform: rotateY(-25deg);
            transform: rotateY(-25deg); }
  30% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  38% {
    -webkit-transform: rotateY(-25deg);
            transform: rotateY(-25deg); }
  46% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); } }

.left {
  left: 0;
  -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-animation-name: openGateLeft;
          animation-name: openGateLeft;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }
  .left:after {
    background-position: left -13px; }

@-webkit-keyframes openGateRight {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes openGateRight {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.right {
  right: 0;
  -webkit-transform-origin: right 0;
      -ms-transform-origin: right 0;
          transform-origin: right 0;
  background-position: right top; }
  .right:after {
    background-position: 324px  top; }

.back {
  background: #9dcc78;
  z-index: 1; }

@-webkit-keyframes fadeP {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes fadeP {
  0% {
    opacity: 0; }
  1% {
    opacity: 1; }
  20% {
    opacity: 1; }
  21% {
    opacity: 0; }
  100% {
    opacity: 0; } }

.texte {
  height: 100%;
  position: relative; }

p {
  position: absolute;
  width: 100%;
  display: block;
  margin: 0;
  font-family: 'silhouetto';
  color: #FFF;
  text-shadow: 3px 3px 4px black;
  font-size: 60px;
  text-align: center;
  top: 20%;
  opacity: 0;
  -webkit-animation-name: fadeP;
          animation-name: fadeP;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
          animation-duration: 20s; }

.fr {
  -webkit-animation-delay: 1s;
          animation-delay: 1s; }

.en {
  -webkit-animation-delay: 7s;
          animation-delay: 7s; }

.sp {
  -webkit-animation-delay: 14s;
          animation-delay: 14s; }
